{% extends 'core/base.html' %}
{% block ng-app %}{% endblock ng-app %}
{% block title %}JSDemo Example{% endblock title %}
{% block head_extras %}
<script type="text/javascript">
    var stuff = [
        "hello",
        function (){
            return "Paul"
        }];
    angular.forEach(stuff, function(item){
        if (angular.isFunction(item)){
            console.log(item());
        } else {
            console.log(item);
        }
    })
</script>
{% endblock head_extras %}
{% block body %}
    This is a simple example
{% endblock body %}
