{% extends 'core/base.html' %}
{% block ng-app %}ng-app="exampleApp"{% endblock ng-app %}
{% block title %}Chapter 13 Controllers{% endblock title %}
{% block head_extras %}
    <script>
        angular.module("exampleApp", [])
            .controller("simpleCtrl", function ($scope) {

            });
    </script>
{% endblock head_extras %}
{% block body %}
    {% verbatim %}
    <div class="well" ng-controller="simpleCtrl">
        Content will go here.
    </div>
    {% endverbatim %}
{%  endblock body %}