{% extends 'core/base.html' %}
{% block ng-app %}ng-app="exampleApp"{% endblock ng-app %}
{% block title %}Chapter 10 Directives{% endblock title %}
{% block head_extras %}
    <script>
        angular.module("exampleApp", [])
            .controller("defaultCtrl", function ($scope, $location) {

                $scope.message = "Tap Me!";

            }).directive("tap", function () {
                return function (scope, elem, attrs) {
                    elem.on("touchstart touchend", function () {
                        scope.$apply(attrs["tap"]);
                    });
                }
            });
    </script>
{% endblock head_extras %}
{% block body %}
    {% verbatim %}
    <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
        <div class="well" tap="message = 'Tapped!'">
            {{message}}
        </div>
    </div>
    {% endverbatim %}
{%  endblock body %}