{% extends 'core/base.html' %}
{% block ng-app %}ng-app="exampleApp"{% endblock ng-app %}
{% block title %}AngularJS Demo{% endblock title %}
{% block head_extras %}
    <script>

        var myApp = angular.module("exampleApp", []);

        myApp.controller("dayCtrl", function ($scope) {
            var dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday",
                "Thursday", "Friday", "Saturday"];
            $scope.day = dayNames[new Date().getDay()];
        });

        myApp.controller("tomorrowCtrl", function ($scope) {
            var dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday",
                "Thursday", "Friday", "Saturday"];
            $scope.day = dayNames[(new Date().getDay() + 1) % 7];
        });

    </script>
{% endblock head_extras %}
{% block body %}
    {% verbatim %}
    <div class="panel">
        <div class="page-header">
            <h3>AngularJS App</h3>
        </div>
        <h4 ng-controller="dayCtrl">Today is {{day || "(unknown)"}}</h4>
        <h4 ng-controller="tomorrowCtrl">Tomorrow is {{day || "(unknown)"}}</h4>
    </div>
    {% endverbatim %}
{% endblock body %}