{% extends 'core/base.html' %}
{% block title %}pro angular examples in django{% endblock title %}
{% block body %}
    <h1><a href="http://www.apress.com/9781430264484">Pro Angular book</a> examples done <a href="https://www.djangoproject.com/">Django</a></h1>
    <ul>
        <li><a href="{% url 'test' %}">Test</a></li>
        <li><a href="{% url 'todo' %}">ToDo</a></li>
        <li><a href="{% url 'jsdemo' %}">JSDemo</a></li>
        <li><a href="{% url 'sportstore' %}">SportStore</a></li>
        <li><a href="{% url 'sportstore_admin' %}">SportStore Admin</a></li>
        <li><a href="{% url 'example' %}">Chapter 9 example</a></li>
    </ul>
{% endblock body %}