{% extends 'core/base.html' %}
{% load staticfiles %}
{% block ng-app %}ng-app="sportsStoreAdmin"{% endblock ng-app %}
{% block title %}SportStore Administration{% endblock title %}
{% block head_extras %}
    <script src="{% static 'sportstore/js/angular-route.js' %}"></script>
    <script src="{% static 'sportstore/js/angular-resource.js' %}"></script>
    <script>
        angular.module("sportsStoreAdmin", ["ngRoute", "ngResource"])
            .config(function ($routeProvider) {

                $routeProvider.when("/login", {
                    templateUrl: "/static/sportstore/partials/admin/login.html"
                });

                $routeProvider.when("/main", {
                    templateUrl: "/static/sportstore/partials/admin/main.html"
                });

                $routeProvider.otherwise({
                    redirectTo: "/login"
                });
            });
    </script>
{% endblock head_extras %}
{% block body_attributes %}{% endblock body_attributes %}
{% block body %}
    <ng-view />
    <script src="{% static 'sportstore/js/controllers/admin.js' %}"></script>
    <script src="{% static 'sportstore/js/controllers/adminProduct.js' %}"></script>
{% endblock body %}