{% extends 'core/base.html' %}
{% load staticfiles %}
{% block head_extras %}
    <script src="{% static 'sportstore/js/angular-resource.js' %}"></script>
    <script src="{% static 'sportstore/js/angular-route.js' %}"></script>
{% endblock head_extras %}
{% block body %}
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">SPORTS STORE</a>
    </div>
    <div class="panel panel-default row">
        <div class="col-xs-3">
             Categories go here
        </div>
        <div class="col-xs-8">
            Products go here
        </div>
    </div>
{% endblock body %}