{% extends 'core/base.html' %}
{% load staticfiles %}
{% block ng-app %}ng-app="sportsStore"{% endblock ng-app %}
{% block title %}SportStore{% endblock title %}
{% block head_extras %}
    <script src="{% static 'sportstore/js/angular-resource.js' %}"></script>
    <script src="{% static 'sportstore/js/angular-route.js' %}"></script>
    <script>
        angular.module("sportsStore", []);
    </script>
    <script src="{% static 'sportstore/js/sportstore.js' %}"></script>
{% endblock head_extras %}
{% block body_attributes %}ng-controller="sportsStoreCtrl"{% endblock body_attributes %}
{% block body %}
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">SPORTS STORE</a>
    </div>
    <div class="panel panel-default row">
        <div class="col-xs-3">
             Categories go here
        </div>
        <div class="col-xs-8">
            {% verbatim %}
            <div class="well" ng-repeat="item in data.products">
                <h3>
                    <strong>{{item.name}}</strong>
                    <span class="pull-right label label-primary">
                        {{item.price | currency}}
                    </span>
                </h3>
                <span class="lead">{{item.description}}</span>
            </div>
            {% endverbatim %}
        </div>
    </div>
{% endblock body %}